# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/
secrets.toml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
 
# Large data and binaries for local use only
Images_Attendance/
archive/dlib-*.whl
